#mainframe {font-family:Verdana, Geneva, sans-serif; border-collapse:collapse; padding:0;}
#content {height:650px; width:800px; margin-top:30px; margin-left:30px;}
#innerEdge, #bottombar, #buttonPanel {border:1px solid black; background-color:lightgrey;}

/*  main.php  */
#buttonPanel {width:200px; height:650px;}
#buttonPanel input {width:150px;}
.button1 {position:relative; top:-170px;}
#button2 {position:relative; top:320px;}
#buttons {margin:auto; width:70%;}
#content {overflow:auto;}
#playerlist td {text-align:left;}
#spiller {width:600px; text-align:left;}
#playerlist th {background-color:grey;}


/* addplayer.php */
#addtable th {text-align:left;}
#addbutton {position:relative; top:280px;}
#backbutton {position:relative; top:256px; right:800px;}

/* editplayer.php */
#editbutton {position:relative; top:305px;}
#deletebutton {position:relative; right:800px;}
#edittable th {text-align:left;}

/* settings.php */
#settings input {width:300px;}
#backbutton {position:relative; top:256px; right:800px;}

/* newround.php */
#useRoundButton {position:relative; top:280px;}
#baner th {text-align:left;}
#baner {position:relative; top:30px; right:-30px;}

/* login.php */
#login {margin-left:400px; margin-top:200px;}
